.icon {
    position: fixed;
    top: calc(50% - 80px);
    left: calc(50% - 100px);
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 25px;
    z-index: 9;
}

/* Clouds */

.icon .weather-icon-clouds {
    height: 200px;
    animation: iconDance 5s ease infinite alternate;
}

.bg-clouds {
    background-color: #008adb;
}

.color-clouds {
    color: #212121;
}

/* Thunderstorm */

.icon .weather-icon-thunderstorm {
    height: 200px;
    animation: iconElectric 2s linear infinite alternate;
}

.bg-thunderstorm {
    background-color: #212121;
    animation: iconElectric 2s linear infinite alternate;
}

.color-thunderstorm {
    color: #ffffff;
}

@keyframes iconDance {   
    0% {
        transform: translate(250px, 50px);
    }
    100% {
        transform: translate(-250px, -50px);
    }
}

@keyframes iconElectric {   
    0% {
        opacity: 1; 
    }
    40% {
        opacity: 1; 
    }
    100% {
        opacity: 0.3;
    }
}