.icon {
    position: fixed;
    top: calc(50% - 80px);
    left: calc(50% - 100px);
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 25px;
    z-index: 9;
}

@keyframes iconDance {   
    0% {
        transform: translate(250px, 50px);
    }
    100% {
        transform: translate(-250px, -50px);
    }
}

@keyframes iconElectric {   
    0% {
        opacity: 1; 
    }
    40% {
        opacity: 1; 
    }
    100% {
        opacity: 0.3;
    }
}