@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

.loading-icon {
  position: fixed;
  top: 50%;
  left: calc(50% - 40px);
  height: 80px;
}

/* Clouds */

.icon .weather-icon-clouds {
  height: 200px;
  animation: iconDance 5s ease infinite alternate;
}

.bg-clouds {
  background-color: #008adb;
}

.color-clouds {
  color: #212121;
}

/* Thunderstorm */

.icon .weather-icon-thunderstorm {
  height: 200px;
  animation: iconElectric 2s linear infinite alternate;
}

.bg-thunderstorm {
  background-color: #212121;
  animation: iconElectric 2s linear infinite alternate;
}

.color-thunderstorm {
  color: #ffffff;
}

.app-header.color-thunderstorm {
  border-color: #ffffff;
}
